.login-page{
    min-height: 100vh;
    background-image: url('../../assets/Background.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoOrigamis{
    position: absolute;
    top:5%;
    left:5%
}
.button{
    background-color: #FF0087 !important;
    color:#FFFFFF !important;
    font-weight: 500;
}
.button:disabled {
  color: grey !important;
  cursor: not-allowed !important;
}
.login-form{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
    max-width: 400px;
    padding: 24px;
    border-radius: 24px;
}
.custom-input {
    border: 2px solid #6A6B6C;
    border-radius: 8px;
    padding-left: 8px; 
    margin-top: 0;
  }
  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  .custom-hr {
    flex: 1; 
    border: 0; 
    border-top: 2px solid #6A6B6C; 
  } 
  .ms-logo{
    width:20px;
    margin-right: 6px;
  }


  .MicrosoftButton{
    background-color: rgba(7, 8, 10, 1) !important;
  }
  .MicrosoftButton:disabled{
    cursor: not-allowed !important;
  }
 
  @media (max-width: 1020px){
    .login-page{
        flex-direction: column;
    }
    .logoOrigamis{
       position:static;
    }
  }


          
        
