
.pagination-button {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: #e9ecef;
  color: #000;
  border-color: #000;
}

.pagination-button.active {
  background-color: #FF0087 !important;
  color: white !important;
  border: none !important;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-next-prev {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 12px;
    background: white;
    border: 1px solid #000000;
    
     /* Adjusted to keep the padding consistent */
}
.button-next-prev:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }