.modal-content{
    box-shadow: 0px 0px 48px 0px rgba(0, 120, 214, 0.32) !important;
    border-radius: 20px;
}
.hader-message{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color:#FF0087;
    margin: 0;
}