body{
  overflow: auto !important;
}
.custom-card {
    border: 2px solid #cdcece !important;
    border-radius: 16px !important;
    background-color: #f3f3f3 !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  height: 98px;             
  background-color: #f5f5f5;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
}

.first-card-content {
    color: #000000;
    display: flex;
    gap: 6px;
    font-size: 24px !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.first-card-content-disabled {
    color: #b5b5b6 !important;
    display: flex;
    gap: 6px;
    font-size: 24px !important;
    font-weight: 600 !important;
    cursor: not-allowed !important;
}


.workflow-card {
    border: 2px solid rgba(255, 0, 135, 1) !important;
    border-radius: 16px !important;
    background-color: #f3f3f3 !important;
    cursor: pointer !important;
}



.card-heading {
    cursor: pointer;
    display: flex;
    // align-items: center;  
    justify-content: center;
    gap: 6px;
    font-size: 24px !important;
    font-weight: 600 !important;
}



.card-description {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-font {
    font-size: 10px;
    color: #07080a;
    font-weight: 500;
}

.d-flex .align-items-center {
  max-width: 100%; /* OR set a fixed width like 600px */
  flex-wrap: nowrap;
  overflow: hidden;
}

.button-status {
  font-size: 10px !important ;
}

.latestVersion {
  width: 34px;
  height: 24px;
  border-radius: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
  background-color: white !important;
  border-radius: 24px !important;
  color: black !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08) !important; /* Soft shadow */
  border: none !important;
  cursor: pointer !important;
  gap: 4px !important;
}

.workflow-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5em;
}


.vertical-dots {
  color: #ff0087;

}

.dropdown-Menu {
  margin-top: 30px;
}

.dropdown-Menu .MuiMenuItem-root {
  padding: 2px 10px;
}

.dropdown-Menu-items{
  font-size: 12px !important;
  color: #000 ;
}

.workflow-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
  height: 40px; 
  font-size: 12px;
  margin-top: 10px;
  font-family: Poppins;
}


.card-footers {
  justify-content:space-between;
  display: flex;
  margin: 5px 0 ;
}

.workflow-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr); // Default: 1 card on mobile

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr); // 2 cards on tablets
  }
  //   @media (min-width: 576px) and (max-width: 768px) {
  //   grid-template-columns: repeat(3, 1fr); 
  // }
  @media (min-width: 993px) {
    grid-template-columns: repeat(3, 1fr); // 3 cards on small laptops and up
  }
  
}
