
.close-button{
    color:rgba(130, 131, 132, 1) !important;
}
.add-icon{
    background-color: rgba(106, 107, 108, 1);
    height: 34px;
    width:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}