html body {
    font-family: Poppins !important;
    margin: 0;
    padding: 0 !important;
}

.label-heading {
    font-weight: 500 !important;
    font-size: 14px !important;
}

.modal-title {
    color: rgba(7, 8, 10, 1) !important;
    font-weight: 500 !important;
    font-size: 24px;
}

.custom-input {
    border: 2px solid #6A6B6C !important;
    border-radius: 8px !important;
    padding-left: 8px;
    margin-top: 0;

}

.custom-input::placeholder {
    font-family: 'Poppins', sans-serif !important;
}

.white-button {
    text-transform: none !important;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08) !important;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(57, 57, 59, 1) !important;
    border-radius: 24px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    width: 240px;
    border: none !important;
}

.pink-button {
    background-color: rgba(255, 0, 135, 1) !important;
    box-shadow: 2px 2px 8px 0px rgba(255, 0, 135, 0.32);
    width: 240px;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: rgba(255, 255, 255, 1) !important;
    border-radius: 24px !important;
    border: none !important;
    text-transform: none !important;
}

.button-status {
    background-color: rgba(255, 195, 0, 1) !important;
    box-shadow: 0px 0px 8px 0px rgba(255, 195, 1, 1);
    color: rgba(57, 57, 59, 1) !important;
    font-size: 7px !important;
    border-radius: 18px !important;
    font-weight: 500 !important;
    color: #525354 !important;


}

.input-field {
    border: 2px solid #6A6B6C;
    border-radius: 8px;
    padding-left: 8px;
    margin-top: 0;
}

.heading8 {
    font-size: 14px !important;
    font-weight: 500;
    text-align: left;
    color: rgba(7, 8, 10, 1);
    margin-bottom: 0px;
    margin-top: .5rem;
}

.login-input-field {
    border: 1px solid #FF0087 !important;
    color: rgb(13, 13, 13) !important;
    padding: 0 0 0 10px;
    align-items: center;
    border-radius: 5px;
}

.login-input-field::placeholder {
    color: #999;
    opacity: 1;
    font-size: 2vh;
    line-height: 2vh;
    font-weight: 500;
}

.horizantal-line {
    height:1px;
    background-color: #f1f1f1 !important;
}

.heading1 {
    font-family: 'poppins', serif;
    font-size: 34px;
    font-weight: 500;
    color: rgba(7, 8, 10, 1);
}

.form-field {
    width: 100% !important;
    padding: 0 20% !important;
}

.input-field {
    border: 1px solid #FF0087 !important;
    color: rgb(13, 13, 13) !important;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.input-field:focus {
    border-color: #FF0087 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 135, 0.25);
    /* Pink glow */
    outline: none
}
.react-select__control {
  border: 1px solid #FF0087 !important;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: none !important;

}
.react-select__control--is-focused {
  border-color: #FF0087;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 135, 0.25) !important;
}

.react-select__control:hover {
  border-color: #FF0087 !important;
}
