.search-input-container {
    position: relative;
}

.search-input-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #FF0087;
    cursor: pointer;
    z-index: 2;
}

.search-input-padding {
    padding-right: 2.2rem;
    /* space for the icon */
    border: 1px solid #FF0087 !important;
    box-shadow: none !important;
    outline: none !important;
}

.AddButton {
    background-color: #FF0087;
    border: #FF0087;
}

.AddButton:hover {
    background-color: #FF0087;
    /* keep same color */
}
.button-active {
    color:  #00AD23 !important;
    padding: 0px 2vh ;
    display: inline-block; 
}
.button-inactive {
    color:   #AD0026 !important;
    padding: 0px 2vh ;
    display: inline-block;
}